//**
// * Animations
//

// Invalid form shake

@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);}10%,30%,50%,70%,90%{-webkit-transform:translateX(-8px);}20%,40%,60%,80%{-webkit-transform:translateX(8px);}}
@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0);}10%,30%,50%,70%,90%{-moz-transform:translateX(-8px);}20%,40%,60%,80%{-moz-transform:translateX(8px);}}
@-ms-keyframes shake{0%,100%{-ms-transform:translateX(0);}10%,30%,50%,70%,90%{-ms-transform:translateX(-8px);}20%,40%,60%,80%{-ms-transform:translateX(8px);}}
@-o-keyframes shake{0%,100%{-o-transform:translateX(0);}10%,30%,50%,70%,90%{-o-transform:translateX(-8px);}20%,40%,60%,80%{-o-transform:translateX(8px);}}
@keyframes shake{0%,100%{transform:translateX(0);}10%,30%,50%,70%,90%{transform:translateX(-8px);}20%,40%,60%,80%{transform:translateX(8px);}}

// Back arrow animation

@-webkit-keyframes backArrow{0%,25%{-webkit-transform:translateX(0);}13%{-webkit-transform:translateX(1px);}6%,19%{-webkit-transform:translateX(-3px);}}
@-moz-keyframes backArrow{0%,25%{-moz-transform:translateX(0);}13%{-moz-transform:translateX(1px);}6%,19%{-moz-transform:translateX(-3px);}}
@-ms-keyframes backArrow{0%,25%{-ms-transform:translateX(0);}13%{-ms-transform:translateX(1px);}6%,19%{-ms-transform:translateX(-3px);}}
@-o-keyframes backArrow{0%,25%{-o-transform:translateX(0);}13%{-o-transform:translateX(1px);}6%,19%{-o-transform:translateX(-3px);}}
@keyframes backArrow{0%,25%{transform:translateX(0);}13%{transform:translateX(1px);}6%,19%{transform:translateX(-3px);}}
