article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

*:not(select) {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border:none;
	font-size: 100%;
	.box-sizing (border-box);
	outline:none;
	list-style: none;
	-webkit-font-smoothing: antialiased;
}

html{
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
}

strike {
	text-decoration: line-through;
}

h1, h2, h3, h4, strong{
	font-weight: 700;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

button::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner {
	border: 0;
	padding: 0;
	outline: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

input, button {
	background: none;
	.appearance(none);
}

ul {
	list-style: none;
}

button {
	background: none;
	vertical-align: middle;
	line-height: normal;
	cursor: pointer;
}

del {
	text-decoration: none;
}
