body {
  background-color: #fff;
  color: #494949;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  min-width: 960px;
}
a {
  color: #d8d6f8;
  text-decoration: none;
  position: relative;
}
header p a {
  border-bottom: 1px solid #d8d6f8;
}
header p a:hover {
  border-bottom: 1px solid #fff;
}
a:hover {
  color: #fff;
  border-bottom: 0;
}
a:active {
  top: 1px;
}
header {
  text-align: center;
  background-color: #181927;
  padding: 0 20px;
}
header:before {
  content: '';
  height: 10px;
  background-color: #11121c;
  display: block;
}
header h1 {
  font-size: 36px;
  color: #fff;
  padding-top: 20px;
}
header .description {
  font-size: 18px;
  color: #a79db9;
  padding-top: 10px;
}
header .download {
  position: relative;
  color: #583d0a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 15px 10px 36px;
  margin-top: 20px;
  display: inline-block;
  background-clip: padding-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.71), inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 0 3px rgba(0, 0, 0, 0.43), inset 0 0 2px rgba(255, 255, 255, 0.25);
  background-image: -webkit-linear-gradient(90deg, #e89300 0%, #f2ba25 100%);
}
header .download:hover {
  background-image: -webkit-linear-gradient(90deg, #d98900 0%, #e9b324 100%);
}
header .download:active {
  background-image: -webkit-linear-gradient(90deg, #e9b324 0%, #d98900 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.71), 0 0 3px rgba(0, 0, 0, 0.43), inset 0 0 2px rgba(255, 255, 255, 0.25);
}
header .download:before {
  content: '';
  height: 16px;
  width: 16px;
  top: 50%;
  left: 10px;
  margin-top: -8px;
  background: url(download.png) no-repeat top left;
  display: block;
  position: absolute;
}
header .twitter {
  padding: 20px 0 30px 0;
  color: #a79db9;
}
header .twitter a {
  font-weight: bold;
  border-bottom: none;
  padding-left: 25px;
  border-bottom: none;
  background: url(twitter.png) no-repeat center left;
}
header .twitter a:hover {
  border-bottom: none;
  background: url(twitter-hover.png) no-repeat center left;
}
header .twitter a span {
  border-bottom: 1px solid #d8d6f8;
}
header .twitter a span:hover {
  border-bottom: 1px solid #fff;
}
section {
  width: 960px;
  margin: 0 auto;
}
section ul {
  padding-top: 25px;
  background: #fff;
  z-index: 5;
  width: 215px;
  float: left;
  box-shadow: inset -1px 0 #dadada;
  top: 0;
}
section ul li ul {
  display: none;
}
section ul li a {
  position: relative;
  color: #888;
  padding: 7px;
  display: block;
}
section ul li a:hover {
  color: #626262;
}
section ul li a.active {
  font-weight: bold;
  color: #0088d6;
}
section ul li a.red:after,
section ul li a.green:after {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  font-size: 10px;
  top: 7px;
  right: 10px;
  padding: 3px 8px;
  border-radius: 3px;
  font-weight: 300;
}
section ul li a.red:after {
  text-shadow: 0 1px 0 rgba(133, 0, 0, 0.3);
  background-color: #eb5858;
}
section ul li a.green:after {
  text-shadow: 0 1px 0 rgba(75, 133, 0, 0.3);
  background-color: #90c854;
}
section ul.fixed {
  position: fixed;
}
section ul.fixed  + #main #gradient-hack {
  position: fixed;
}
section #main {
  float: right;
  width: 685px;
  padding: 25px 30px 0 30px;
  position: relative;
}
section #main #gradient-hack {
  display: block;
  height: 35px;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, #ffffff 100%);
  position: absolute;
  z-index: 4;
}
section #main article h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
section #main article .detail {
  line-height: 24px;
  padding-bottom: 28px;
}
section #main article .compare {
  text-align: center;
}
section #main article .compare thead {
  font-weight: 700;
}
section #main article .compare thead tr {
  background-color: #f5f5f5;
}
section #main article .compare tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
section #main article .compare tbody tr td {
  background: url(yes.png) no-repeat center center;
}
section #main article .compare tbody tr td:first-of-type {
  background: none;
}
section #main article .compare tbody tr td.no {
  background: url(no.png) no-repeat center center;
}
section #main article .compare tbody tr:not(:last-of-type),
section #main article .compare thead tr {
  border-bottom: 1px #dedede solid;
}
section #main article .compare td,
section #main article .compare th {
  padding: 10px 15px;
}
section #main article .border-radius-hack {
  border-radius: 5px;
  border: solid 1px #dedede;
  overflow: hidden;
  margin-bottom: 28px;
  display: inline-block;
}
section #main article .code {
  position: relative;
  display: block;
  border-radius: 3px;
  padding: 20px;
  background-clip: padding-box;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 0 2px rgba(0, 0, 0, 0.09);
  margin-bottom: 100px;
}
section #main article .code textarea {
  float: left;
}
section #main article .code .CodeMirror:first-of-type {
  float: left;
  width: 300px;
  position: relative;
}
section #main article .code .CodeMirror:first-of-type:before {
  content: 'LESS';
  right: -7px;
}
section #main article .code .CodeMirror:last-of-type {
  float: right;
  width: 300px;
  font-family: monospace;
  line-height: 1em;
  position: relative;
}
section #main article .code .CodeMirror:last-of-type:before {
  content: 'CSS';
  right: -7px;
}
section #main article .code code:before,
section #main article .code .CodeMirror:before {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  color: #858585;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-size: 12px;
  top: -7px;
  padding: 3px 8px;
  font-weight: 700;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #ddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09);
}
section #main article .code:before {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  border-left: 1px #c1c1c1 dashed;
  top: 10px;
  bottom: 10px;
  left: 340px;
}
