/*
 * LESSHat.com
 * 2012
 * Martin Duris & Petr Brzek 
 */
 
// ----------------------------------


//  TABLE OF CONTENTS
//  
//  @Importing
//  @Colors
//  @Fonts
//  @Links
//  @Global 
//  @Header 
//  @Sidebar 
//	@Main

// ----------------------------------

// @Importing

@import "lib/reset";
@import "lib/lesshat";

// ----------------------------------

// @Colors

 @color_base: #444;
 @color_action: #1467AC;
 @color_action_hover: darken(@color_action, 10%);
 @color_header: #fff;

// ----------------------------------

// @Fonts

::-moz-selection { background: @color_action; color: #fff; text-shadow: none; }
::selection { background: @color_action; color: #fff; text-shadow: none; }

html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
}
html, body, input {
    font-family: sans-serif;
    color: @color_base;
    background: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1, h2, h3, h4, strong{
	font-weight: 700;
}

// ----------------------------------

// @Links

a, a:visited{
	color: @color_action;
	.transition(color 100ms);
	position: relative;

	&:hover{
		color: @color_action_hover;
	}
	&:active{
		top: 1px;
	}
	header p &, header p &:visited{
		color: @color_header;
		border-bottom: 1px solid #d8d6f8;

		&:hover{
			border-bottom: 1px solid #fff;
		}
	}
	article &, article &:visited{
		border-bottom: 1px solid @color_action;
	}
}

// ----------------------------------

// @Global

*{
	.box-sizing(border-box);
}
body{
	color: @color_base;
}

// ----------------------------------

// @Header

header{
	text-align: center;
	background-color: #181927;
	padding: 0 10px;
	border-top: 10px solid #11121c;
	h1{
		font-size: 36px;
		color: #fff;
		padding-top: 20px;
	}
	.description{
		font-size: 18px;
		color: #a79db9;
		padding-top:10px;
	}
	.download,.download:visited{
		position: relative;
		color: #583d0a;
		text-decoration: none;
		font-weight: bold;
		border-radius: 3px;
		padding: 10px 15px 10px 36px;
		margin-top: 20px;
		display: inline-block;
		background-clip: padding-box;
		.box-shadow(~"0 1px 2px rgba(0,0,0,.71), inset 0 1px 0 rgba(255,255,255,.6), 0 0 3px rgba(0,0,0,.43),	inset 0 0 2px rgba(255,255,255,.25)");
		.gradient(~"linear-gradient(0deg, #e89300 0%, #f2ba25 100%)");
		&:hover{
			.gradient(~"linear-gradient(0deg, #d98900 0%, #e9b324 100%)");
		}
		&:active{
			.gradient(~"linear-gradient(0deg, #e9b324 0%, #d98900 100%)");
			.box-shadow(~"0 1px 2px rgba(0,0,0,.71), 0 0 3px rgba(0,0,0,.43),	inset 0 0 2px rgba(255,255,255,.25)");
		}
		&:before{
			content: '';
			@height: 16px;
			height: @height;
			width: 16px;
			top: 50%;
			left: 10px;
			margin-top: -@height/2;
			background: url(download.png) no-repeat top left;
			display: block;
			position: absolute;
		}
	}
	.twitter{
		padding: 20px 0 30px 0;
		color: #a79db9;
		a{
			font-weight: bold;
			border-bottom: none;
			padding-left: 25px;
			border-bottom: none;
			background: url(twitter.png) no-repeat center left;
			&:hover{
				border-bottom: none;
				background: url(twitter-hover.png) no-repeat center left;
			}
			span{
				border-bottom: 1px solid #d8d6f8;
				&:hover{
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
}

// ----------------------------------

// @Sidebar

section{
	width: 960px;
	margin: 0 auto;
	&:before,
	&:after {
    content:"";
    display:table;
	}
	&:after {
    clear:both;
	}
	ul{
		padding: 25px 0;
		background: #fff;
		z-index: 5;
		width: 215px;
		float: left;
		top: 0;
		li{
			.box-shadow(~"inset -1px 0 #dadada");
			ul{
				display: none;
			}
			a, a:visited{
				position: relative;
				color: #888;
				padding: 7px;
				display: block;
				&:hover{
					color:#626262;
				}
				&.active{
					font-weight: bold;
					color: #0088d6;
				}
				&.red&:after, &.green&:after{
					content: attr(data-text);
					position: absolute;
					color: #fff;
					font-size: 10px;
					top: 7px;
					right: 10px;
					padding: 3px 8px;
					.border-radius(3px);
					font-weight: 300;
				}
				&.red&:after{
					text-shadow: 0 1px 0 rgba(133,0,0,.3);
					background-color: #eb5858;
				}
				&.green&:after{
					text-shadow: 0 1px 0 rgba(75,133,0,.3);
					background-color: #90c854;
				}
			}
		}
		&.fixed{
			position: fixed;
			overflow-y: auto;
			bottom: 0;
			& + #main  #gradient-hack{
				position: fixed;
			}
		}
	}

// ----------------------------------

// @Main

	#main{
		float: right;
		width: 740px;
		padding: 25px 30px 0 30px;
		position: relative;
		#gradient-hack{
			display: block;
			height: 35px;
			width: 100%;
			top: 0;
			left: 0;
			width: 100%;
			.gradient(~"linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, #fff 100%)");
			position: absolute;
			z-index: 4;
		}
		article{
			padding-bottom: 50px;
			h2{
				font-size: 28px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			&:nth-of-type(2) h2{
				font-size:24px;
			}
			code{
				font-size: 18px;
			}
			.detail{
				padding-bottom: 20px;
				line-height: 1.8;
			}
			dt{
				list-style: disc;
			}
			dd{
				margin-left: 20px;
				margin-bottom:10px;
			}
			.compare{
				text-align: left;
				border-collapse: collapse;
				thead{
					font-weight: 700;
					tr{
						background-color: #f5f5f5;
					}
				}
				tbody{
					tr{
						&:nth-child(even){
							background-color: #f5f5f5;
						}
						td{
							background: url(yes.png) no-repeat center center;
							&:first-of-type{
								background: none;
							}
							&.no{
								background: url(no.png) no-repeat center center;
							}
						}
					}
				}
				tbody tr:not(:last-of-type), thead tr{
					border-bottom: 1px #dedede solid;
				}
				td, th{
					padding: 10px 15px;
				}

			}
			.border-radius-hack{
				.border-radius(5px);
				border: solid 1px #dedede;
				overflow: hidden;
				margin-bottom: 28px;
				display: inline-block;

			}
			.same-mixin{
				margin-bottom: 20px;
			}
			.default{
				margin-left: 10px;
				color: #bbb;
				font-size:14px;
				font-weight: normal;
			}
			.mixin{
				font-size:15px;

				p{
					margin-left: 10px;
					color: #bbb;
				}
			}
			.code{
				position: relative;
				display: block;
				.border-radius(3px);
				padding: 20px;
				background-clip: padding-box;
				background-color: #f5f5f5;
				.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.08), inset 0 0 2px rgba(0,0,0,.09)");
				font-size: 11px;
				textarea{
					float: left;
				}
				.CodeMirror-scrollbar {
					display: none !important;
				}

				.CodeMirror:first-of-type{
					padding-bottom: 10px;
					border-bottom: 1px #c1c1c1 dashed;
					&:before{
						content: 'LESS';
						right: -7px;
					}
				}
				.CodeMirror:last-of-type{
					padding-top: 10px;
					&:before{
						content: 'CSS';
						right: -7px;
					}
				}
				.CodeMirror{
					&:before{
						font-family: 'Open Sans', sans-serif;
						position: absolute;
						color: #858585;
						text-shadow: 0 1px 0 rgba(255,255,255,.75);
						font-size: 12px;
						top: -7px;
						padding: 3px 8px;
						font-weight: 700;
						.border-radius(3px);
						background-clip: padding-box;
						background-color: #ddd;
						.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.09), -15px 0 #f5f5f5");
					}
					&.error{
						pre span{
							color: #eb5858 !important;
						}
						&:before{
							content: 'Parse error';
							text-shadow: 0 1px 0 rgba(133,0,0,.3);
							background-color: #eb5858;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
#popup{
	position: fixed;
	top: 0;left: 0;right: 0; bottom: 0;z-index: 10;
	background: rgba(0, 0, 0, .4);
	overflow-y: auto;
	padding: 40px 20px;
	display: none;
	&.active{
		display: block;
	}
	#dialog{
		position: relative;
		max-width: 740px;
		display: block;
		margin: 0 auto;
		background: #fff;
		.border-radius(3px);
		background-clip: padding-box;
		text-align: center;
		.box-shadow(~"0 1px 3px rgba(0,0,0,.75)");
		#close{
			width: 39px;
			height: 41px;
			display: block;
			background: url(close.png) top left no-repeat;
			position: absolute;
			top:-19px; right:-19px;
			z-index: 11;
		}
		h3{
			font-size: 18px;
			font-weight: 700;
			padding: 2em 20px;
		}
		form{
			padding-bottom: 2em;
			#email{
				padding: 10px;
				color: #a9a9a9;
				text-shadow: 0 1px 0 rgba(255,255,255,.4);
				width: 200px;
				.border-radius(3px);
				background-clip: padding-box;
				background-color: #f4f4f4;
				.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 1px rgba(0,0,0,.19)");
				outline: none;
				border: none;
			}
			#submit{
				text-shadow: 0 1px 0 rgba(255,255,255,.4);
				outline: none;
				border: none;
				color: #583d0a;
				font-weight: bold;
				.border-radius(3px);
				padding: 10px;
				background-clip: padding-box;
				.box-shadow(~"0 0 0 rgba(0,0,0,.75), inset 0 1px 0 rgba(255,255,255,.29)");
				.gradient(~"linear-gradient(90deg, #e89300 0%, #f2ba25 100%)");
				&:hover{
					.gradient(~"linear-gradient(90deg, #d98900 0%, #e9b324 100%)");
				}
				&:active{
					.gradient(~"linear-gradient(90deg, #e9b324 0%, #d98900 100%)");
					.box-shadow(~"0 0 0 rgba(0,0,0,.75), inset 0 1px 0 rgba(255,255,255,.29)");	
				}
			}
		}
		iframe:first-of-type{
			margin-right: 10px;
		}
		.bottom{
			margin-top: 20px;
			.border-radius(6px);
			text-align: center;
			.box-shadow(~"0 -1px 0 #d6d6d6");
			background: #eaeaea url(cool-tweet.png) center 30px no-repeat;
			.csshat{
				text-shadow: 0 1px 1px rgba(0,0,0,.6);
				padding: 7px 20px;
				margin: 160px 0 30px 0;
				font-size: 18px;
				color: #fff;
				font-weight: 600;
				.border-radius(6px);
				.gradient(~"linear-gradient(top,  #00adfc 0%, #005db7 100%)");
				.box-shadow(~"0 0 0 1px rgba(0,0,0,.38), inset 0 1px 0 rgba(255,255,255,.29), inset 0 0 0 1px rgba(255,255,255,.22), 0 0 0 1px #1c6292;");
				cursor: pointer;
				-webkit-user-select:none;
				display: inline-block;
			}
			.csshat:hover{
				.gradient(~"linear-gradient(top,  #00a0ea 0%, #0056ac 100%)");
			}
			.csshat:active{
				.gradient(~"linear-gradient(top,  #0085bf 0%, #0056ad 100%)");
				.box-shadow(~"0 0 0 1px rgba(0,0,0,.38), 0 0 0 1px #1c6292;");
			}
		}
	}
}

@media only screen and (max-width: 960px) {
	#menu{
		display: none;
	}
	section{
		width: auto;
		div#main{
			float: none;
			width: auto;
		}
	}
}